<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>

<h1>FeedBack</h1>
<form action="" method="post">
<table width="200" border="1">
  <tr>
    <td>Name</td>
    <td>Feedback</td>
    <td>Date</td>
  </tr>
  {% for i in val %}
  <tr>
    <td>{{i[1]}};</td>
    <td>{{i[1]}}&nbsp;</td>
    <td>{{i[1]}}&nbsp;</td>
  </tr>
</table>


</form>


</body>
</html>
