<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<h1>Register</h1>
<form action="" method="post">
<table width="275" border="1">
  <tr>
    <td width="68">Firstname</td>
    <td width="191"><input type="text" name="textfield" /></td>
  </tr>
  <tr>
    <td>Lastname</td>
    <td><input type="text" name="textfield2" /></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td><p>
      <label>
        <input type="radio" name="RadioGroup1" value="radio" />
        Male      </label>
      <br />
      <label>
        <input type="radio" name="RadioGroup1" value="radio" />
        Female      </label>
      <br />
      <label>
        <input type="radio" name="RadioGroup1" value="radio" />
        Others      </label>
      <br />
    </p></td>
  </tr>
  <tr>
    <td>Quilfication</td>
    <td><input type="checkbox" name="checkbox" value="checkbox" />
      10 
      <input type="checkbox" name="checkbox2" value="checkbox" />
      +2 
      <input type="checkbox" name="checkbox3" value="checkbox" />
      PG
      <input type="checkbox" name="checkbox4" value="checkbox" />
      UG</td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><input type="text" name="textfield3" /></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><input type="text" name="textfield4" /></td>
  </tr>
  <tr>
    <td>District</td>
    <td><input type="text" name="textfield5" /></td>
  </tr>
  <tr>
    <td height="35" colspan="2"><div align="center">
      <input type="submit" name="Submit" value="Submit" />
    </div></td>
    </tr>
</table>


</form>
</body>
</html>
